.input-row label{
  width: 25%;
}
.input-row input{
  width: 75%;
}

.input-row select {
  float: right;
  width: 75%;
  height:35px;
  padding-left: 0;
  margin-bottom: 0;
  border: 0;
}



form.input-group {
	font-size:14px;
}
form.input-group input{
	font-size:14px;
}


.submit-cart{
 width:100%;
 position:absolute;
 bottom:0px;
 background-color:red;
 padding-bottom:50px;
 color:white;
}

.roll-y{
	overflow-y:auto;
	height:480px;
}