<div id="focus" class="focus">
	<div class="hd">
		<ul></ul>
	</div>
	<div class="bd">
		<ul>
				<li><img a src="/images/banner.jpg" /></li>
		</ul>
	</div>
</div>


<ul class="table-view">
  <li class="table-view-cell">
		<h3 class="red">
		公告	
		</h3>
	</li>
	<li class="table-view-cell">
  	自营水果质量优，果切拼盘种类多。<br/>
		价格最低服务好，快来这里试一试。
	</li>
	<li class="table-view-cell">
		新学期<span class="red">试营业期间</span>,如遇到问题可直接联系微信客服。感谢您提出宝贵意见和建议。
	</li>
</ul>

<style>

	.content{
		background-color:#F7F7F7;
	}
	

</style>


<script type="text/javascript">
    TouchSlide({
        slideCell: "#focus",
        titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: false,//自动播放
        autoPage: true, //自动分页
        switchLoad: "_src" //切换加载，真实图片路径为"_src" 
    });
    
</script>