<div id="focus" class="focus">
	<div class="hd">
		<ul></ul>
	</div>
	<div class="bd">
		<ul>
				<li><img a src="/images/banner.jpg" /></li>
				<li><img a src="/images/banner.jpg" /></li>
				<li><img a src="/images/banner.jpg" /></li>
		</ul>
	</div>
</div>
