<%= grid(@shoppings_grid, show_filters: :when_filtered, hide_csv_button: true) do |g|
	g.column :name => 'ID', :attribute => 'id' do |shopping|
		link_to shopping.id,[:admin,shopping]
	end
	g.column :name => '姓名', :attribute => 'customer_name'
	g.column :name => '地址', :attribute => 'customer_address'
	g.column :name => '手机', :attribute => 'mobile'
	g.column :name => '金额', :attribute => 'amount'
	g.column :name => '预计收货时间', :attribute => 'want_ship'
	g.column :name => '状态', :attribute => 'status' do  |shopping|
		raw "<div id=\"shopping_status_#{shopping.id}\"> #{shopping.status}</div>"
	end
	

	g.column do |shopping|
		render 'grid_ops',:shopping=>shopping
	end
	g.column do |shopping|
		link_to "删除",[:admin,shopping],:method=>:delete,:class=>"btn btn-danger"
	end
	
	
end -%>