<%@product_cates.each do |cate|%>
	<%if cate.id == @product_cates.first.id%>
	   <%active_class = "active"%>
	<%end%>
	
	<div id="<%="cate_#{cate.id}"%>" class="<%=active_class%> tab_content">
		<ul class="table-view">	
				<%cate.products.each do |product|%>
					<li class="table-view-cell">
		 	 
						<%=render 'product_item',:product=>product%>
					</li>
				  
				<%end%>
		</ul>
	</div>
<%end%>